{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}


<div class="container-fluid" >
<div class="col-sm-6">
    
    <h3>{{book.name}}</h3>
    <h4>Author: {{book.author}}</h4>
    <p>Price: £{{book.price}}</p>
    <p>Description: {{book.description}}</p>

    <a role="button" class="btn btn-default" href="{{url_for('category_admin.showCategory', category_id = book.category_id ) }}">Go back</a>
    <a role="button" class="btn btn-default btn-sm" href="{{url_for('book_admin.editBook', category_id=book.category_id, book_id=book.id)}}">Edit Book</a>
    <a role="button" class="btn btn-default btn-sm" href="{{url_for('book_admin.deleteBook', category_id=book.category_id, book_id=book.id)}}">Delete Book</a>
    <br>
</div>
</div>

{% include "partials/footer.html" %}

{% endblock content %}