{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}

<div>
    <p>This is the page displaying info on one book</p>
</div>

<div>
    <h2>{{book.name}}</h2>
    <h3>By: {{book.author}}</h3>
    <p>Price: £{{book.price}}</p>
    <p>Description: {{book.description}}</p>

    <a href="{{url_for('category_admin.showCategory', category_id = book.category_id ) }}">Go back to category</a>
    <br>
    <br>
    <a href="{{url_for('homePage.index')}}">Home</a>
</div>

{% include "partials/footer.html" %}

{% endblock content %}