{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}

<div>
    <p>This is the page listing all books in a category</p>
</div>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>

<div>
    <h1>Category: {{category.name}} ({{books|count}} books)</h1>
    
    <div>
        <a href="{{url_for('category.editCategory', category_id=category.id)}}">Edit category</a>
        <br>
        <a href="{{url_for('category.deleteCategory', category_id=category.id)}}">Delete category</a>
        <br>
    </div>
    
    <div>
        {% for book in books  %}
            <h2>{{book.name}}</h2>
            <h3>By: {{book.author}}</h3>
            <a href="{{url_for('books.theBook', book_id=book.id)}}">Read more...</a>
            <a href="{{url_for('books.editBook', category_id=category.id, book_id=book.id)}}">Edit Book</a>
            <a href="{{url_for('books.deleteBook', category_id=category.id, book_id=book.id)}}">Delete Book</a>
            
            <br>
            <br>
        {% endfor %}
    </div>


    <a href="{{url_for('home.index')}}">Home</a>
</div>

{% include "partials/footer.html" %}

{% endblock content %}