{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}
    <div>
        <h2>Are you sure you want to delete {{book.name}} by {{book.author}}?</h2>
    </div>
    <br>
    <form method="post">
    {{ form.csrf_token }}
            <button type="submit">Delete</button>
            <a href="{{url_for('category_admin.showCategory', category_id=category_id)}}">Cancel</a>
    </form>
    
    <div>
        <a href="{{url_for('homePage.index')}}">Home</a>
        <br>
    </div>
{% include "partials/footer.html" %}
{% endblock content %}