{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}

<div>
    <h1 class="text-center" >Book Catalogue</h1>
</div>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>


<div class="container-fluid">
<div class="row">
  <div class="col-md-5">
      <h2>Categories:</h2>
      {% for category in categories  %}
          <a href="{{url_for('category_admin.showCategory', category_id=category.id)}}">{{category.name}}</a>
          <br>
          <br>
      {% endfor %}
  </div>
  <div class="col-md-5">
      <h2>Latest Items:</h2>
      {% for book in books  %}
          <a href="{{url_for('book_admin.theBook', category_id=book.category_id, book_id=book.id)}}">{{book.name}} by {{book.author}} </a>
          <br>
          <br>
      {% endfor %}
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <br>
      <a role="button" class="btn btn-default btn-block" href="{{url_for('category_admin.newCategory')}}">Add category</a>
      <br>
      <a role="button" class="btn btn-default btn-block" href="{{url_for('book_admin.newBook')}}">Add book</a>
      <br>
    </div>
  </div>

</div>
</div>

{% include "partials/footer.html" %}

{% endblock content %}