{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}

<div>
    <p>This is the home page.</p>
</div>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>

<div>
    <h1>Categories:</h1>

    {% for category in categories  %}
        <a href="{{url_for('category_admin.showCategory', category_id=category.id)}}">{{category.name}}</a>
        <br>
        <br>
    {% endfor %}

    <br>
    <br>
    <a href="{{url_for('category_admin.newCategory')}}">Add new category</a>
    <br>
    <a href="{{url_for('book_admin.newBook')}}">Add new book</a>
    <br>

</div>

<div>
    <h1>Latest Items:</h1>

    {% for book in books  %}
        <a href="{{url_for('book_admin.theBook', book_id=book.id)}}">{{book.name}} by {{book.author}} </a>
        <br>
        <br>
    {% endfor %}
</div>


{% include "partials/footer.html" %}

{% endblock content %}