{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}
    this is the new category page
    <br>
    <a href="{{url_for('homePage.index')}}">Home</a>
    <br>

    <form method="POST">
        {# {{ form.csrf_token }} #}
        <div>New Category: {{ form.name(class="form_placeholder") }}</div>

        {% if form.name.errors %}
            <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        
        <button type="submit">Create</button>
        <a href="{{url_for('homePage.index')}}">Cancel</a>
    </form>

    <br>
    <br>

{% include "partials/footer.html" %}
{% endblock content %}