{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div>
    <p>This is the page listing all books in a category</p>
</div>

<div>
    <h1>Category: {{category.name}}</h1>
    
    <div>
        <a href="{{url_for('editCategory', category_id=category.id)}}">Edit category</a>
        <br>
    </div>
    
    <div>
        {% for book in books  %}
            <h2>{{book.name}}</h2>
            <h3>By: {{book.author}}</h3>
            <a href="{{url_for('theBook', book_id=book.id)}}">Read more...</a>
            <br>
            <br>
        {% endfor %}
    </div>


    <a href="{{url_for('index')}}">Home</a>
</div>

{% include "footer.html" %}

{% endblock content %}