{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}
    <div>

        <br>
        <a href="{{url_for('index')}}">Home</a>
        <br>
    </div>

    <div>
        <h2>Edit the book:</h2>
        <br>
    </div>

    
    <form action="#" method="post">
        <div>
            <div>Edit Book Title: {{ form.name(class="form_placeholder", value=book.name) }} </div>

            {% if form.name.errors %}
                <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>Edit Author: {{ form.author(class="form_placeholder", value=book.author) }} </div>

            {% if form.author.errors %}
                <ul class="errors">{% for error in form.author.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>Edit Price £: {{ form.price(class="form_placeholder", value=book.price) }} </div>

            {% if form.price.errors %}
                <ul class="errors">{% for error in form.price.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>Edit Description: {{ form.description(class="form_placeholder", value=book.description) }} </div>

            {% if form.description.errors %}
                <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}


            <label>Book Category</label>
            <select name="category" id="categoryList">
                {% for category in categories  %}
                    <option value="{{category.name}}" {% if book.category_id == category.id  %} selected="selected" {% endif %} >{{category.name}}</option>
                {% endfor %}
            </select>

            <button type="submit">Submit</button>
            <a href="{{url_for('showBooks', category_id=category_id)}}">Cancel</a>
        </div>
    </form>
    
{% include "partials/footer.html" %}
{% endblock content %}