{% extends "base.html" %}
{% block content %}
{% include "partials/header.html" %}

<div>
    <p>This is the home page.</p>
</div>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>

<div>
    <h1>Categories:</h1>

    {% for category in categories  %}
        <a href="{{url_for('showBooks', category_id=category.id)}}">{{category.name}}</a>
        <br>
        <br>
    {% endfor %}

    <br>
    <br>
    <a href="{{url_for('newCategory')}}">Add new category</a>
    <br>
    <a href="{{url_for('newBook')}}">Add new book</a>
    <br>

</div>

{% include "partials/footer.html" %}

{% endblock content %}