{% extends "base.html" %}
{% block content %}
    {% include "header.html" %}
    <br>
    <a href="{{url_for('index')}}">Home</a>
    <br>
    <br>
    <div>
        <h2>Add a new book:</h2>
    </div>

    <form method="post">
        <div>
            <div>Book Title: {{ form.name(class="form_placeholder") }}</div>

            {% if form.name.errors %}
                <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>Author: {{ form.author(class="form_placeholder") }}</div>

            {% if form.author.errors %}
                <ul class="errors">{% for error in form.author.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>Price £: {{ form.price(class="form_placeholder") }}</div>

            {% if form.price.errors %}
                <ul class="errors">{% for error in form.price.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div>Description: {{ form.description(class="form_placeholder") }}</div>

            {% if form.description.errors %}
                <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            
            <label>Book Category</label>
                <select name="category" id="categoryList">
                    {% for category in categories  %}
                    <option value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            
            <button type="submit">Create</button>
        </div>
    </form>

    {% include "footer.html" %}
{% endblock content %}